﻿.regButton {
    height: 50px;
    width: 100px;
}

.divider {
    width: 10px;
    height: auto;
    display: inline-block;
}

#regBtns {
    float: left;
    display: inline-block;
}

#formDiv {
    float: left;
    display: inline-block;
}
